{% extends "projects/project-base.html" %}

{% set title = "Futures Portfolio" %}

{%
  set images = [
  url_for('static', filename='resources/thumbnails/cartera-futuros-1.png'),
  url_for('static', filename='resources/thumbnails/cartera-futuros-2.png'),
  url_for('static', filename='resources/thumbnails/cartera-futuros-3.png'),
  url_for('static', filename='resources/thumbnails/cartera-futuros-4.png'),
  url_for('static', filename='resources/thumbnails/cartera-futuros-5.png'),
  ]
%}

{% block description %}
  <p>Website to manage and monitor Argentine futures investment portfolios.</p>
  <p>
    It allows users to record and review the portfolio composition at any time,
    with up-to-date performance metrics.
  </p>
  <p>
    It includes a customizable alert system that users configure based on their
    own criteria, receiving notifications when prices fluctuate or when the
    total portfolio value changes.
  </p>
{% endblock %}

{% block features %}
  <li>Real data obtained from the ReMarkets API using PyRofex.</li>
  <li>Automatic alert email notifications.</li>
{% endblock %}

{% set members = 3 %}

{% block technologies %}
  {{ techpill( "Python", url_for('static', filename='resources/PYTHON ICON.svg'), "Python icon" ) }}
  {{ techpill( "Flask", url_for('static', filename='resources/FLASK ICON.svg'), "Flask icon" ) }}
  {{ techpill( "JavaScript", url_for('static', filename='resources/JS ICON.svg'), "JavaScript icon" ) }}
  {{ techpill( "HTMX", url_for('static', filename='resources/HTMX ICON.svg'), "HTMX icon" ) }}
  {{ techpill( "MySQL", url_for('static', filename='resources/MYSQL ICON.svg'), "MySQL icon" ) }}
  {{ techpill( "Tailwind CSS", url_for('static', filename='resources/TAILWINDCSS ICON.svg'), "Tailwind CSS icon" ) }}
  {{ techpill( "Lottie", url_for('static', filename='resources/LOTTIE ICON.svg'), "Lottie icon" ) }}
{% endblock %}

{% set source_url = "https://github.com/enzosanchezariel/frro-python-2025-1" %}
{% set production_url = null %}
