{% extends "projects/project-base.html" %}

{% set title = "Cartera de Futuros" %}

{%
  set images = [
  url_for('static', filename='resources/thumbnails/cartera-futuros-1.png'),
  url_for('static', filename='resources/thumbnails/cartera-futuros-2.png'),
  url_for('static', filename='resources/thumbnails/cartera-futuros-3.png'),
  url_for('static', filename='resources/thumbnails/cartera-futuros-4.png'),
  url_for('static', filename='resources/thumbnails/cartera-futuros-5.png'),
  ]
%}

{% block description %}
  <p>
    Sitio web para gestionar y monitorear portafolios de inversiones en futuros
    argentinos.
  </p>
  <p>
    Permite registrar y consultar la composición del portafolio en cualquier
    momento, con métricas de rendimiento actualizadas.
  </p>
  <p>
    Incluye un sistema de alertas personalizables que el usuario configura según
    sus propios criterios, recibiendo notificaciones ante variaciones en los
    precios o en el valor total del portafolio.
  </p>
{% endblock %}

{% block features %}
  <li>Datos reales obtenidos de la API de ReMarkets con PyRofex.</li>
  <li>Envío de emails de alertas automáticos.</li>
{% endblock %}

{% set members = 3 %}

{% block technologies %}
  {{ techpill( "Python", url_for('static', filename='resources/PYTHON ICON.svg'), "Python icon" ) }}
  {{ techpill( "Flask", url_for('static', filename='resources/FLASK ICON.svg'), "Flask icon" ) }}
  {{ techpill( "JavaScript", url_for('static', filename='resources/JS ICON.svg'), "JavaScript icon" ) }}
  {{ techpill( "HTMX", url_for('static', filename='resources/HTMX ICON.svg'), "HTMX icon" ) }}
  {{ techpill( "MySQL", url_for('static', filename='resources/MYSQL ICON.svg'), "MySQL icon" ) }}
  {{ techpill( "Tailwind CSS", url_for('static', filename='resources/TAILWINDCSS ICON.svg'), "Tailwind CSS icon" ) }}
  {{ techpill( "Lottie", url_for('static', filename='resources/LOTTIE ICON.svg'), "Lottie icon" ) }}
{% endblock %}

{% set source_url = "https://github.com/enzosanchezariel/frro-python-2025-1" %}
{% set production_url = null %}
