{% extends "projects/project-base.html" %}

{% set title = "DraBeh" %}

{%
  set images = [
  url_for('static', filename='resources/thumbnails/drabeh-1.png'),
  url_for('static', filename='resources/thumbnails/drabeh-2.png'),
  url_for('static', filename='resources/thumbnails/drabeh-3.png'),
  url_for('static', filename='resources/thumbnails/drabeh-4.png'),
  url_for('static', filename='resources/thumbnails/drabeh-5.png'),
  url_for('static', filename='resources/thumbnails/drabeh-6.webp'),
  ]
%}

{% block description %}
  <p>
    {{ gettext("A platform where people communicate through drawings instead of words.") }}
  </p>
  <p>
    {{ gettext("Each post can contain a drawing, and it can be replied to with another drawing. In this way, visual conversation threads are created between users.") }}
  </p>
  <p>
    {{ gettext("Each piece of art is created within the site's drawing canvas, ensuring that all content is original.") }}
  </p>
{% endblock %}

{% block features %}
  <li>{{ gettext("Authentication via Google OAuth.") }}</li>
  <li>{{ gettext("Membership payments through PayPal.") }}</li>
  <li>{{ gettext("Automatic confirmation email delivery.") }}</li>
  <li>{{ gettext("Moderation system with reports and bans.") }}</li>
{% endblock %}

{% block technologies %}
  {{ techpill( "Python", url_for('static', filename='resources/PYTHON ICON.svg'), "Python icon" ) }}
  {{ techpill( "Flask", url_for('static', filename='resources/FLASK ICON.svg'), "Flask icon" ) }}
  {{ techpill( "JavaScript", url_for('static', filename='resources/JS ICON.svg'), "JavaScript icon" ) }}
  {{ techpill( "HTMX", url_for('static', filename='resources/HTMX ICON.svg'), "HTMX icon" ) }}
  {{ techpill( "MySQL", url_for('static', filename='resources/MYSQL ICON.svg'), "MySQL icon" ) }}
  {{ techpill( "Adobe Illustrator", url_for('static', filename='resources/ADOBE ILLUSTRATOR ICON.svg'), "Adobe Illustrator icon" ) }}
  {{ techpill( "Adobe After Effects", url_for('static', filename='resources/ADOBE AFTER EFFECTS ICON.svg'), "Adobe After Effects icon" ) }}
  {{ techpill( "Tailwind CSS", url_for('static', filename='resources/TAILWINDCSS ICON.svg'), "Tailwind CSS icon" ) }}
  {{ techpill( "Lottie", url_for('static', filename='resources/LOTTIE ICON.svg'), "Lottie icon" ) }}
{% endblock %}

{% set source_url = null %}
{% set production_url = "https://www.drabeh.com" %}
