{% extends "projects/project-base.html" %}

{% set title = "UTN Schedule Planner" %}

{%
  set images = [
  url_for('static', filename='resources/thumbnails/planificador-horarios-utn-1.png'),
  url_for('static', filename='resources/thumbnails/planificador-horarios-utn-2.png'),
  url_for('static', filename='resources/thumbnails/planificador-horarios-utn-3.png'),
  url_for('static', filename='resources/thumbnails/planificador-horarios-utn-4.png'),
  url_for('static', filename='resources/thumbnails/planificador-horarios-utn-5.png'),
  ]
%}

{% block description %}
  <p>
    A website that allows students of the National Technological University of
    Rosario to select the classes they want to take and view the resulting
    schedule, notifying them of potential overlaps.
  </p>
  <p>
    The platform comes preloaded with university classes and allows users to add
    new ones locally.
  </p>
{% endblock %}

{% block features %}
  <li>
    Calculation of all possible combinations of sections for the selected
    classes.
  </li>
  <li>Email submission requests for the inclusion of new classes.</li>
{% endblock %}

{% block technologies %}
  {{ techpill( "Svelte", url_for('static', filename='resources/SVELTE ICON.svg'), "Svelte icon" ) }}
  {{ techpill( "JavaScript", url_for('static', filename='resources/JS ICON.svg'), "JavaScript icon" ) }}
  {{ techpill( "TypeScript", url_for('static', filename='resources/TS ICON.svg'), "TypeScript icon" ) }}
  {{ techpill( "PicoCSS", url_for('static', filename='resources/PICOCSS ICON.svg'), "PicoCSS icon" ) }}
{% endblock %}

{% set source_url = "https://github.com/enzosanchezariel/PlanificadorHorariosUTNFRRO" %}
{% set production_url = "https://enzosanchezariel.github.io/PlanificadorHorariosUTNFRRO/" %}
