{% extends "projects/project-base.html" %}

{% set title = "Planificador de Horarios UTN" %}

{%
  set images = [
  url_for('static', filename='resources/thumbnails/planificador-horarios-utn-1.png'),
  url_for('static', filename='resources/thumbnails/planificador-horarios-utn-2.png'),
  url_for('static', filename='resources/thumbnails/planificador-horarios-utn-3.png'),
  url_for('static', filename='resources/thumbnails/planificador-horarios-utn-4.png'),
  url_for('static', filename='resources/thumbnails/planificador-horarios-utn-5.png'),
  ]
%}

{% block description %}
  <p>
    Sitio web que permite a los estudiantes seleccionar las materias que desean
    cursar y visualizar el calendario resultante, notificando posibles
    solapamientos.
  </p>
  <p>
    Surge como solución a una problemática real ante la falta de una herramienta
    similar en la Universidad Tecnológica Nacional de Rosario.
  </p>
  <p>
    La plataforma está precargada con materias de la facultad y permite a los
    usuarios agregar nuevas asignaturas localmente.
  </p>
{% endblock %}

{% block features %}
  <li>
    Cálculo de todas las posibles combinaciones de comisiones de las materias
    seleccionadas.
  </li>
  <li>Envío de solicitudes por email para la inclusión de nuevas materias.</li>
{% endblock %}

{% block technologies %}
  {{ techpill( "Svelte", url_for('static', filename='resources/SVELTE ICON.svg'), "Svelte icon" ) }}
  {{ techpill( "JavaScript", url_for('static', filename='resources/JS ICON.svg'), "JavaScript icon" ) }}
  {{ techpill( "TypeScript", url_for('static', filename='resources/TS ICON.svg'), "TypeScript icon" ) }}
  {{ techpill( "PicoCSS", url_for('static', filename='resources/PICOCSS ICON.svg'), "PicoCSS icon" ) }}
{% endblock %}

{% set source_url = "https://github.com/enzosanchezariel/PlanificadorHorariosUTNFRRO" %}
{% set production_url = "https://enzosanchezariel.github.io/PlanificadorHorariosUTNFRRO/" %}
