{% from "components/tech-pill.html" import techpill %}
{% extends "base.html" %}
{% block content %}
  <div id="mainView" class="flex min-h-screen w-full flex-col items-center">
    <div
      class="w-full flex-1 border-slate-200 bg-white xl:max-w-6xl xl:border-x-1 dark:border-zinc-700 dark:bg-zinc-900"
    >
      <div
        class="embla overflow-hidden border-b-1 border-slate-200 bg-black dark:border-zinc-700"
      >
        <div class="embla__viewport relative">
          <div
            class="embla__container flex [&>.embla\_\_slide]:flex [&>.embla\_\_slide]:min-w-0 [&>.embla\_\_slide]:shrink-0 [&>.embla\_\_slide]:grow-0 [&>.embla\_\_slide]:basis-full [&>.embla\_\_slide]:justify-center"
          >
            {% for image in images %}
              <button class="embla__slide" onclick="viewImage(this)">
                <img
                  src="{{ image }}"
                  {% if loop.first %}
                    style="view-transition-name: {{ 'img-' + page }};"
                    crosspagetransition="{{ 'img-' + page }}"
                  {% endif %}
                  class="aspect-3/2 h-auto w-full max-w-120 cursor-pointer bg-gray-200 transition active:scale-90 lg:max-w-170"
                />
              </button>
            {% endfor %}
          </div>
          {% if images|length > 1 %}
            <button
              class="embla__prev absolute top-1/2 left-2 z-10 flex -translate-y-1/2 cursor-pointer rounded-sm bg-[#ffffff]/50 p-1 text-[#000000]/50 transition hover:bg-gray-200 hover:text-gray-400 active:scale-90 active:bg-gray-200 active:text-gray-400"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M15 6l-6 6l6 6" />
              </svg>
            </button>
            <button
              class="embla__next absolute top-1/2 right-2 z-10 -translate-y-1/2 cursor-pointer rounded-sm bg-[#ffffff]/50 p-1 text-[#000000]/50 transition hover:bg-gray-200 hover:text-gray-400 active:scale-90 active:bg-gray-200 active:text-gray-400"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M9 6l6 6l-6 6" />
              </svg>
            </button>
          {% endif %}
        </div>
      </div>
      <div class="p-4 lg:p-6">
        <div class="flex">
          <h1
            style="view-transition-name: {{ 'title-' + page }};"
            crosspagetransition="{{ 'title-' + page }}"
            class="pb-6 text-3xl text-emerald-600"
          >
            {{ title }}
          </h1>
        </div>
        <div class="grid gap-4 lg:grid-cols-2">
          <article
            class="rounded-sm border-gray-200 text-gray-800 lg:border-1 lg:p-6 dark:border-zinc-700 dark:bg-zinc-800 dark:text-white [&>p]:mb-2"
          >
            <h1 class="mb-3 text-lg font-semibold text-emerald-600">
              Descripción
            </h1>
            {% block description %}
            {% endblock %}
          </article>
          <article
            class="rounded-sm border-gray-200 text-gray-800 lg:border-1 lg:p-6 dark:border-zinc-700 dark:bg-zinc-800 dark:text-white [&>p]:mb-2"
          >
            <h1 class="mb-3 text-lg font-semibold text-emerald-600">
              Características
            </h1>
            <ul class="flex flex-col gap-4">
              {% block features %}
              {% endblock %}
            </ul>
          </article>
        </div>
        {% if members %}
          <article class="mt-4 text-gray-800 dark:text-zinc-200 [&>p]:mb-2">
            <h1 class="mb-3 text-lg font-semibold text-emerald-600">Equipo</h1>
            <p>Trabajo realizado en equipo de {{ members }} integrantes.</p>
          </article>
        {% endif %}
        <article class="mt-4 text-gray-800 [&>p]:mb-2">
          <h1 class="mb-3 text-lg font-semibold text-emerald-600">
            Tecnologías
          </h1>
          <ul class="flex flex-row flex-wrap items-center justify-center gap-4">
            {% block technologies %}
            {% endblock %}
          </ul>
        </article>
        <div class="flex justify-center">
          <div
            class="mt-4 flex w-full flex-col gap-2 sm:max-w-[75%] sm:flex-row sm:items-stretch"
          >
            {% if source_url %}
              <a
                href="{{ source_url }}"
                target="_blank"
                class="flex w-full cursor-pointer flex-row justify-center gap-2 rounded-sm px-3 py-2 text-gray-800 transition hover:bg-emerald-200 active:scale-90 active:bg-emerald-200 enabled:cursor-pointer disabled:bg-gray-400 dark:text-white dark:hover:bg-zinc-800 dark:active:bg-zinc-800"
              >
                <p>Código fuente</p>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"
                  />
                  <path d="M11 13l9 -9" />
                  <path d="M15 4h5v5" />
                </svg>
              </a>
            {% endif %}
            {% if production_url %}
              <a
                href="{{ production_url }}"
                target="_blank"
                class="flex w-full cursor-pointer flex-row justify-center gap-2 rounded-sm bg-emerald-600 px-3 py-2 text-white transition hover:bg-emerald-700 active:scale-90 active:bg-emerald-700 enabled:cursor-pointer disabled:bg-gray-400"
              >
                <p>Ver en producción</p>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"
                  />
                  <path d="M11 13l9 -9" />
                  <path d="M15 4h5v5" />
                </svg>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    id="imageView"
    class="relative flex h-svh touch-pinch-zoom items-center justify-center bg-black"
    hidden
  >
    <img
      id="imageViewImage"
      style="view-transition-name: imageView;"
      src=""
      alt=""
      class="h-auto w-full"
    />
    <button
      onclick="history.back()"
      class="absolute top-6 right-2 z-10 flex -translate-y-1/2 cursor-pointer rounded-sm bg-[#ffffff]/50 p-1 text-[#000000]/25 transition hover:bg-gray-200 hover:text-gray-400 active:scale-90 active:bg-gray-200 active:text-gray-400"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M18 6l-12 12" />
        <path d="M6 6l12 12" />
      </svg>
    </button>
  </div>
  <script src="{{ url_for( 'static', filename='js/embla-carousel.umd.js' ) }}"></script>
  <script src="{{ url_for( 'static', filename='js/project-base.js' ) }}"></script>
{% endblock %}
