{% extends "projects/project-base.html" %}

{% set title = "Tienda Online" %}

{%
  set images = [
  ]
%}

{% block description %}
  <p>
    Tienda online con gestión de inventarios, pedidos, administración de
    catálogos, promociones, proveedores, empleados y clientes.
  </p>
{% endblock %}

{% block features %}
  <li>Historico de precios de productos.</li>
  <li>Carrito de compras.</li>
  <li>Panel de administrador.</li>
  <li>Seguimiento de deliveries.</li>
{% endblock %}

{% set members = 3 %}

{% block technologies %}
  {{ techpill( "TypeScript", url_for('static', filename='resources/TS ICON.svg'), "TypeScript icon" ) }}
  {{ techpill( "JavaScript", url_for('static', filename='resources/JS ICON.svg'), "JavaScript icon" ) }}
  {{ techpill( "Angular", url_for('static', filename='resources/ANGULAR ICON.svg'), "Angular icon" ) }}
  {{ techpill( "Express", url_for('static', filename='resources/EXPRESS ICON.svg'), "Express icon" ) }}
  {{ techpill( "NodeJS", url_for('static', filename='resources/NODE ICON.svg'), "NodeJS icon" ) }}
  {{ techpill( "MikroORM", url_for('static', filename='resources/MIKROORM ICON.svg'), "MikroORM icon" ) }}
  {{ techpill( "MySQL", url_for('static', filename='resources/MYSQL ICON.svg'), "MySQL icon" ) }}
  {{ techpill( "Cypress", url_for('static', filename='resources/CYPRESS ICON.svg'), "Cypress icon" ) }}
  {{ techpill( "PicoCSS", url_for('static', filename='resources/PICOCSS ICON.svg'), "PicoCSS icon" ) }}
{% endblock %}

{% set source_url = "https://github.com/enzosanchezariel/TpDsw/blob/main/proposal.md" %}
{% set production_url = null %}
