{% extends "projects/project-base.html" %}

{% set title = "WebQuizApp" %}

{%
  set images = [
  url_for('static', filename='resources/thumbnails/webquizapp-1.png'),
  url_for('static', filename='resources/thumbnails/webquizapp-2.png'),
  url_for('static', filename='resources/thumbnails/webquizapp-3.png'),
  url_for('static', filename='resources/thumbnails/webquizapp-4.png'),
  url_for('static', filename='resources/thumbnails/webquizapp-5.png'),
  url_for('static', filename='resources/thumbnails/webquizapp-6.png'),
  url_for('static', filename='resources/thumbnails/webquizapp-7.png'),
  ]
%}

{% block description %}
  <p>Competitive quiz website.</p>
  <p>
    Each room has a single administrator who creates quizzes on various topics,
    sets an end date, and manages a scoreboard.
  </p>
  <p>
    When the room’s end date is reached, the user or users with the highest
    score are declared winners.
  </p>
  <p>
    Each user has a rank that increases as they complete challenges across
    different quizzes.
  </p>
{% endblock %}

{% block features %}
  <li>Administration panel for the site and each room.</li>
  <li>Email delivery of quiz results.</li>
{% endblock %}

{% set members = 4 %}

{% block technologies %}
  {{ techpill( "Java", url_for('static', filename='resources/JAVA ICON.svg'), "Java icon" ) }}
  {{ techpill( "JavaScript", url_for('static', filename='resources/JS ICON.svg'), "JavaScript icon" ) }}
  {{ techpill( "MySQL", url_for('static', filename='resources/MYSQL ICON.svg'), "MySQL icon" ) }}
  {{ techpill( "PicoCSS", url_for('static', filename='resources/PICOCSS ICON.svg'), "PicoCSS icon" ) }}
{% endblock %}

{% set source_url = "https://github.com/enzosanchezariel/TpJava" %}
{% set production_url = null %}
