@import "tailwindcss";

.no-callout {
  -webkit-touch-callout: none;
}

.slidefade {
  opacity: 0;
  transform: translateY(6px);
  pointer-events: none;
  transition:
    opacity 150ms ease,
    transform 150ms ease;
}

.slidefade.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.slidedown {
  opacity: 0;
  transform: translateY(-100%);
  pointer-events: none;
  transition:
    opacity 150ms ease,
    transform 150ms ease;
}

.slidedown.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
}
