<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Enzo Sánchez</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{{ url_for('static', filename='css/output.css') }}"
    />
    <style>
      @view-transition {
        navigation: auto; /**/
      }

      ::view-transition-new(navbar) {
        z-index: 10;
        animation: none;
      }
    </style>
    <script src="{{ url_for('static', filename='js/lottie-player.js') }}"></script>
  </head>
  <body
    class="no-callout relative flex min-h-svh flex-col overflow-x-hidden bg-[#fbfbfb] select-none"
  >
    <nav
      id="navbar"
      style="view-transition-name: navbar;"
      class="sticky top-0 z-999 flex justify-center border-b-1 border-slate-200 bg-white"
    >
      <div
        class="flex w-full max-w-6xl flex-row items-center justify-center p-2 lg:p-4"
      >
        <div>
          <button
            id="homeBtn"
            onclick="() => {goto('/')}"
            class="flex cursor-pointer rounded-sm px-3 py-2 font-semibold transition hover:bg-emerald-200 active:scale-90 active:bg-emerald-200"
          >
            <lottie-player
              id="iconAnim"
              src="{{ url_for('static', filename='resources/lottie/ES.json') }}"
              class="h-[1.5lh] w-[1.5lh]"
              background="transparent"
              speed="1"
              autoplay="false"
            ></lottie-player>
          </button>
        </div>
      </div>
    </nav>
    <script>
      const iconAnim = document.getElementById("iconAnim");
      const homeBtn = document.getElementById("homeBtn");

      homeBtn.addEventListener("mouseenter", () => {
        iconAnim.stop();
        iconAnim.play();
      });

      homeBtn.addEventListener("touchstart", () => {
        iconAnim.stop();
        iconAnim.play();
      });

      homeBtn.addEventListener("click", () => {
        window.location.href = "/";
      });
    </script>
    {% block content %}{% endblock %}
  </body>
</html>
