<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Enzo Sánchez</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{{ url_for('static', filename='css/output.css') }}"
    />
    <style>
      @view-transition {
        navigation: auto; /**/
      }
    </style>
  </head>
  <body
    class="no-callout relative flex min-h-svh flex-col overflow-x-hidden bg-[#fbfbfb] select-none"
  >
    <nav
      id="navbar"
      class="sticky top-0 z-999 flex justify-center border-b-1 border-slate-200 bg-white"
    >
      <div
        class="flex w-full max-w-6xl flex-row items-center justify-between p-2 lg:p-4"
      >
        <div>
          <a
            href="{{ url_for('pages.landing_page') }}"
            class="flex cursor-pointer rounded-sm px-3 py-2 font-semibold transition hover:bg-emerald-200 active:scale-90 active:bg-emerald-200"
          >
            <div class="flex items-center justify-center">
              <p class="text-xl">&lt;E&gt;</p>
            </div>
          </a>
        </div>
      </div>
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>
