<!doctype html>
<html lang="{{ current_locale }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Enzo Sánchez</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}"
      sizes="96x96"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="{{ url_for('static', filename='favicon/favicon.svg') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon/favicon.ico') }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}"
    />
    <meta name="apple-mobile-web-app-title" content="Enzo Sánchez" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{{ url_for('static', filename='css/output.css') }}"
    />
    <style>
      @view-transition {
        navigation: auto; /**/
      }

      ::view-transition-new(navbar) {
        z-index: 10;
        animation: none;
      }
    </style>
    <script src="{{ url_for('static', filename='js/lottie-player.js') }}"></script>
  </head>
  <body
    class="no-callout relative flex min-h-svh flex-col overflow-x-hidden bg-[#fbfbfb] select-none dark:bg-zinc-950"
  >
    <nav
      id="navbar"
      style="view-transition-name: navbar;"
      class="slidedown show sticky top-0 z-999 flex justify-center border-b-1 border-slate-200 bg-white dark:border-zinc-700 dark:bg-zinc-900"
    >
      <div
        class="flex w-full max-w-6xl flex-row items-center justify-center p-2 lg:p-4"
      >
        <div>
          <a
            id="homeBtn"
            href="{{ url_for('pages.landing_page') }}"
            class="flex cursor-pointer rounded-sm px-3 py-2 font-semibold transition hover:bg-emerald-200 active:scale-90 active:bg-emerald-200 dark:text-white dark:hover:bg-zinc-800 dark:active:bg-zinc-800"
          >
            <lottie-player
              id="iconAnim"
              src="{{ url_for('static', filename='resources/lottie/ES.json') }}"
              class="h-[1.5lh] w-[1.5lh]"
              background="transparent"
              speed="1"
              autoplay="false"
            ></lottie-player>
          </a>
        </div>
      </div>
    </nav>
    <script>
      // NAVBAR LOTTIE ICON
      const iconAnim = document.getElementById("iconAnim");
      const homeBtn = document.getElementById("homeBtn");
      const navbar = document.getElementById("navbar");

      homeBtn.addEventListener("mouseenter", () => {
        iconAnim.stop();
        iconAnim.play();
      });

      homeBtn.addEventListener("touchstart", () => {
        iconAnim.stop();
        iconAnim.play();
      });

      // NAVBAR SCROLL
      let lastScrollY = window.scrollY;

      window.addEventListener("scroll", () => {
        const currentScrollY = window.scrollY;

        if (currentScrollY > navbar.offsetHeight) {
          if (currentScrollY > lastScrollY) {
            navbar.classList.remove("show");
          } else if (currentScrollY < lastScrollY) {
            navbar.classList.add("show");
          }
        } else {
          navbar.classList.add("show");
        }

        lastScrollY = currentScrollY;
      });
    </script>
    {% block content %}{% endblock %}
  </body>
</html>
